services:

    kavita:
        image: jvmilazz0/kavita:latest    # Using the stable branch from the official dockerhub repo.
        container_name: kavita
        volumes:
            - ./data:/kavita/config     # Change './data if you want to have the config files in a different place.
            - ${UMBREL_ROOT}/data/storage/downloads/books:/books
            - ${UMBREL_ROOT}/data/storage/downloads/mangas:/manga
                                        # /kavita/config must not be changed
        environment:
            - TZ=Your/Timezone
        ports:
            - "5000:5000" # Change the public port (the first 5000) if you have conflicts with other services
        restart: unless-stopped
